# frontend
frontend/task-1b/dist
frontend/task-1b/node_modules

#  backend task-2a
backend/task-2a/env.sh
backend/task-2a/go.sum
backend/task-2a/db
backend/task-2a/script.sh

# backend task-3
backend/task-3/env.sh
backend/task-3/script.sh
backend/task-3/go.sum
backend/task-3/bookstore.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Logs
logs
*.log