@import url('https://fonts.cdnfonts.com/css/hertical-sans');
@import url('https://fonts.cdnfonts.com/css/bogart');
@import url('https://fonts.cdnfonts.com/css/garet');


body {
  margin: 0;
}

.container {
   display: flex;
   background-color: #F0F1EC;
   margin: 0;
}


.brand {
  font-family: 'Hertical Sans', sans-serif;
  font-weight: 400;
  color: #4E2C69;
  font-size: 21px;
  position: absolute;
  top: 8px;
  left: 2.4rem;
  
}

.header {
  object-fit: cover;
  margin-bottom: 0;
}

.header-title {
   font-family: 'Bogart', sans-serif;
   font-size: 3.2rem;
  color: #888F70;
  font-weight: 600;
  line-break: 1em;
}
#ijo {
  color: #3F4726
}
#header-desc {
  color: #000000;
  padding-top: 2rem;
}


button {
  font-family: 'Garet', sans-serif;
  color: #49444B;
  padding: 10px 32px;
  font-size: 16px;
  letter-spacing: 2px;
}

.button-white {
  border: none !important;
  background-color: white;
   position: absolute;
   top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* mitra section */

.mitra {
  background-color: #888F70;
  padding: 6rem 4rem 10rem;
}
.title-section {
    font-size: 3.2rem;
  color: #49444B;
  font-family: 'Bogart', sans-serif;
}
#white {
  color: #ffffff;
}

.garet28 {
  font-family: 'Garet';
  color: #FFFFFF;
  font-size: 1.6rem;
  margin-top:0;
  padding-top: 1rem;
}

.section-description {
  font-family: 'bogart';
  font-size: 1.3rem;
  color: #4E2C69;
  line-height: 1.3;
  margin-top: 0;
}

/* orientasi */
.orientasi {
  display: flex;
  margin-bottom: 0;
}
.column {
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
  margin: 0 6rem;
}
.button-ungu {
  background-color: #4E2C69;
  margin-top: 10px;
  color: #ffffff;
  border: none;
}
.fashion {
  object-fit: cover;
}

/* spotlight */
.spotlight {
  background-color: #4E2C69;
  margin-top: 0;
  padding: 2rem 1.4rem;
}
.row{
  display: flex;
  flex-direction: row;
}
.photo {
  padding: 1rem 3.2rem;
}
.photo img {
    border: 1px solid #ffffff;
}
#title {
  text-align: center;
  padding: 1.4rem 0;
  letter-spacing: -1px;
  font-weight: 400;
}
.garet14{
  font-family: 'Garet', sans-serif;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -1px;
  line-break: 1.3;
   text-align: center;
 }
 
 /* features */
.features {
  display: flex;
}
#text-black {
  color: #49444B;
    letter-spacing: -1px;
  font-weight: 500;
}

/* contact */
.contact  {
  position: relative;
 display: flex;
  border: solid black;
}
.contact section {
   margin-bottom: 0;
  padding-bottom: 0;
}
#bogart24-left {
   color: #ffffff;
  font-size: 1.4rem;
  position: absolute;
   top: 40%;
  left: 10%;
  margin: 4rem 1.2rem; 
}
#bogart24-right {
  color: #ffffff;
  font-size: 1.4rem;
  position: absolute;
   top: 40%;
  left: 50%;
  margin: 4rem 1.2rem; 
}
#down{
  position: absolute;
   top: 70%;
  left: 10%;
  margin: 4rem 1.2rem; 
  text-align: left;
}


.header img {
  margin: 0;

}

/* h2 garet font
class title  Bogart 52
class title-section Bogart 18


*/